body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

.l-with-container {
  width: 1020px;
  margin: auto;
}

li code {
  font-family: monospace;
  font-size: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2px;
  margin-left: 15px;
  background-color: #eee;
}

li button {
  margin-left: 5px;
  font-size: 14px;
}

li button:hover {
  cursor: pointer;
}
