<div>
  <h2>daftar project</h2>
  <ul>
    {% for project in Projects %}
      <li class="pb2">
        <a class="underline dim black" href="/{{ project.ID }}">
          {{ project.Name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
