<div>
  <a href="/">back</a>
  <h1>{{ ProjectName }}</h1>
  <p>{{ ProjectDescription }}</p>

  <h2>e2e test repository</h2>
  <p>Project ID: {{ GitlabProjectID }} (GitLab)</p>
  <p>Project URL: <a href="{{ E2ETestRepo }}" target="_blank" rel="noopener noreferer">{{ E2ETestRepo }}</a></p>

  <h2>frontend (base image)</h2>
  <ul>
    <li class="pb2">{{ Frontend }} <button disabled>edit env</button></li>
  </ul>

  <h2>backend (base image)</h2>
  <ul>
    {% for backend in Backends %}
      <li class="pb2">{{ backend }} <button disabled>edit env</button></li>
    {% endfor %}
  </ul>

  <h2>versions</h2>
  <ul>
    {% for version in Versions %}
      <li class="pb2">
        <a class="underline dim black" href="/{{ ProjectID }}/{{ version.ID }}">
          {{ version.Name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
