<div>
  <a href="/{{ ProjectID }}">back</a>

  <h1>{{ ProjectName }}</h1>
  <p>Versi: {{ VersionName }}</p>
  <p>URL Preview: <a class="dim underline black" target="_blank" rel="noopener noreferer" href="https://{{ Version }}.{{ Subdomain }}">
    https://{{ Version }}.{{ Subdomain }}
  </a></p>
  <p>Namespace: {{ Version }}</p>

  <h2>status</h2>
  <p><strong>{{ EnvironmentStatus }}</strong></p>
  <button disabled>start/restart test</button>
  <button disabled>redeploy</button>

  <h2>containers</h2>
  <ul>
    {% for container in Containers %}
      {% if container.ID %}
        <li class="pb2"><code>{{ container.ImageName }}</code><code>({{ container.ID }}, {{ container.State }})</code><button disabled>recheck?</button></li>
      {% else %}
        <li class="pb2"><code>{{ container.ImageName }}</code><span class="ph1"></span><strong>(NOT RUNNING)</strong><button disabled>recheck?</button></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2>scenarios</h2>
  <ul>
    {% for scenario in Scenarios %}
      <li class="pb2">
        <a class="underline dim black" target="_blank" href="/videos/{{ ProjectID }}/{{ Version }}/{{ scenario }}.mp4">
          {{scenario}}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>