<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{{ Title }}</title>

  <link rel="preconnect" href="https://unpkg.com">
  <link rel="dns-prefetch" href="https://unpkg.com">

  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css">

  <link rel="stylesheet" href="/static/style.css">
</head>

{% include "partials/navbar.html" %}

<body>
  <main class="l-with-container pa3 vh-100">
    {{ embed }}
  </main>
</body>

</html>
