<nav class="db bg-navy white w-100 pv3 cf overflow-x-auto">
  <div class="fl nowrap">
    <ul class="mv0">
      <li class="dib pv1"><a class="link white mh2" href="/">beranda</a></li>
      <!-- <li class="dib pv1"><a class="link white mh2" href="javascript:void(0)">tambah project</a></li>
      <li class="dib pv1"><a class="link white mh2" href="javascript:void(0)">tambah backend</a></li>
      <li class="dib pv1 pr5"><a class="link white mh2" href="javascript:void(0)">tambah version</a></li> -->
    </ul>
  </div>
</nav>